
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="color: white; text-align: center; margin-top: 20px;">Thanh Toán Thất Bại</h1>
<h2 style="color: white; text-align: center;"> vui Lòng Đăng Nhập Trước Khi Đặt Món</h2>

@Html.ActionLink("back to home", "Index", "Home")

