@{
    Layout = null;
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

}

<style>
    .hinh-dk {
        position: absolute;
        top: -60px;
    }

    .field-validation-error {
        color: red;
    }
</style>
<link href="~/Content/css/util.css" rel="stylesheet" />
<link href="~/Content/css/main.css" rel="stylesheet" />
<div class="limiter">
    <div class="container-login100" style=" background-image: url('../../content/images/bg-01.jpg');">
        <div class="wrap-login100 p-t-30 p-b-50">
            <span class="login100-form-title p-b-41" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:bold ">
                Đăng nhập
            </span>
            <div class="login100-form validate-form p-b-33 p-t-5">
                <form method="post">
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="taiKhoan" placeholder="Tài khoản">
                        <p style="color:red">@ViewBag.Error</p>
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="passWord" placeholder="Password">
                        <p style="color:red">@ViewBag.Error</p>
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-weight:bold">
                            Đăng nhập
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>