@{
    ViewBag.Title = "dangki";
    Layout = "~/Views/Shared/_Dangkiquan.cshtml";
}

<div id="container_main">
    <h1 id="h1-style" style="font-weight: bold;width:300px">ĐĂNG KÍ QUÁN</h1>
    <div id="head-content">
        <a id="color-a" href="~/Shops_/Create">Tạo quán mới</a>
    </div>
    <div id="background-c">
        <div id="center_main">
        </div>
        <div id="center-2">
            <h3> Không có quán nào</h3>
            <div id="center-child">
                <a id="color-a-2" style="margin-left: 30px;" href="~/Shops_new/Create">Tạo quán mới</a>
            </div>
        </div>
    </div>
</div>