@model Shopee_Food.Models.ChucVu

@{
    ViewBag.Title = "Thêm chức vụ";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content">
        <div class="row">
            <div class="col-md">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Chức vụ</label>
                            @Html.EditorFor(model => model.TenCV, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenCV, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-secondary" href="/Admin/ChucVus">
                        <i class="fas fa-long-arrow-alt-left">
                        </i>
                        Quay về
                    </a>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-save"></i> Thêm
                    </button>
                </div>
            </div>
        </div>
    </section>

}